version: '3.8'

services:

  data_base:
    image: postgres:11
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    networks:
      - banking_network
    environment:
      - POSTGRES_DB=client_database
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL:    "email@email.com"
      PGADMIN_DEFAULT_PASSWORD: "12345"
    ports:
     - "15432:80"
    depends_on:
     - data_base
    networks:
     - banking_network

  prometheus:
    image: prom/prometheus:v2.26.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./observability/prometheus.yml:/etc/prometheus/prometheus.yml
    command: --config.file=/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

  rabbitmq3:
    container_name: "rabbitmq"
    image: rabbitmq:3.8-management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    ports:
      - "5672:5672"
      - "15672:15672"

networks:
  banking_network:
    driver: bridge